{% extends 'base.html' %}
{% block title %}HOMEPAGE{% endblock title %}
{% block content %}
<section>
    <p>
        Hi every one my name is <b>Bello Victor Ayomide</b> and I am a <b>python developer and also a student.</b> Yeah i'm also a student.
        A lot of students always want to know how to code or do cool stuffs with the computer especially boys whether to make a few bucks or to just know to code.
        I have spoken with a lot of students who have interest in learning how to code and most of them don't know how to go about it. Basically I code for fun
        but I have high hopes of coding to earn a few bucks some day.
    </p>
    <br>
    <p>
        I created this website to tell people about my coding experience.
        When people ask me about my experience, I keep telling them the same thing so I decided to create this website so I don't have to
        tell everybody. They can just come to my website and read about all what they want to hear from me. My coding experience as a student isn't really a thrilling one
        but I hope it will inspire another student who wants to code. I would also post a video that I think will help beginners to understand the basics of learning how to code as a student.
    </p>
    <br>
    <p>
        This is my first real project and it might not be up to the expectation of some people. Well, I'm just saying so that y'all will know and not be so
        judgemental about it.
        <b>THANKS FOR VIEWING MY WEBSITE.</b>
    </p>
</section>
{% endblock content %}

