{% extends 'base.html' %}
{% load static %}
{% block title %}MY EXPERIENCE{% endblock title %}
{% block content %}
<article>
    <p>
        As i said in my home page, I will be telling you about my coding experience and pointing out some mistakes that i made
        while I was learning how to code.
    </p>
    <br>
    <p>
        Growing up, most kids always want to become a lawyer or a doctor or a police man or a soldier. Nobody wanted to become a
        programmer or a data analyst or stuffs like that. I was also one of the numerous kids that fell into this category. I did not really
        know about coding or computer programming until my final year in Junior Secondary school when we were taught computer programming as
        a topic under computer science. That was when I started to develop interest in computer programming. Later on, when I started to watch movies
        not that I don't watch movies before but when I started to watch grown up movies and not cartoon, I started to see amazing things that computers can do.
        Then, I developed an interest in computer engineering but haven't really taught much about learning coding because I believed I would be taught when I get to the university.
    </p>
    <br>
    <p>
        I graduates from senior secondary school in the year 2017 and i began to seek admission into the best technology school in nigeria. I applied for Biomedical Technology but due
        to some mistakes I made during the application process I wasn't offered admission. I went for a pre-degree program which I didn't complete because my parent wanted me to go for another
        pre-uni program which was better than the one I was attending. After finishing the program, I decided to learn how to repair stuffs like computers and phones etc.
        I applied for another university which didn't go through also. Well it wasn't my fault it's just that the education system in nigeria is pretty ugly and very very bad.
    </p>
    <br>
    <p>
        While morning over my lack of admission, one of my cousins who happened to have graduated from university was in lack of a good job and I always disturb him to give me a little change.
        I called him one day and he told me to go and learn how to code. He told me about python and also sent some pdf tutorials to me. This sparked my interest in coding and since I already have a laptop handy I decided to give it a try.
        Within a month, I already mastered all the basics of python programming including file handling. Before I started learning how to code I didn't decide on what aspect to go through with. I did a little game development, machine learning and
        web development before I finally decided to become a full web developer.
    </p>
    <br>
    <p>
        I had to start learning html and css but I didn't complete the tutorials on it before I got admitted to the university. When I got admitted I met some people who were into cool stuffs like game development and AI DEVELOPMENT so I decided to
        starting taking tutorials on machine learning but I wasn't able to really know much about it because of school and other stuff. But it wasn't easy. I wasn't even studying computer engineering or any computer related course. I later decided to stick to web development
        but in the future I hope to go into other aspect like data science and others.
    </p>
    <br>
    <p>
        That pretty much describes my coding experience so far. It really wasn't easy to getting to this stage of mastering web development using a framework. Most beginners prefer to learn html and css alone
        be cause they feel that it isn't really that difficult to learn. No programming language is difficult to learn if you put your mind to it.
    </p>
    <br>
    <p>
        I came across this video that really think will help beginners that are students and are just learning how to code and as promised in my home page, this is the video.
        <center><video src="{% static 'video/tim.mp4' %}" controls width="650" height="100%"></video></center>
    <big><big><big>There is no harm in learning how to code you just have to be dedicated and manage your time well as a student.</big></big></big>
        <center><b><big><big><h1>HAPPY CODING</h1></big></big></b></center>
    </p>

</article>
{% endblock content %}